<h4>Public::Posts#new</h4>

<h2>新規登録</h2>

<%= form_with model: @post do |f| %>

  <label for="post_text">①happyな出来事を投稿しよう！！</label><br>
  <%= f.text_area :post_text, autofocus: true, id:"post_text" %><br>

  <label>②カテゴリー選択（複数選択可能）</label><br>

  <label>③共有したい写真があればUPしよう♪（任意）</label><br>
  <%= f.file_field :image, accept: "image/*" %><br>

  <%= f.submit '投稿' %>


<% end %>
