<!--<h4>Admin::Users#index</h4>-->

<div class="container-fluid">

  <center>
    <div class="mt-3 mb-2">
      <h4>会員一覧</h4>
    </div>

    <div class="row" style="width: 75%">
      <table class="table table-sm">
        <thead>
          <tr>
            <th width="50">会員ID</th>
            <th width="120">氏名</th>
            <th width="200">メールアドレス</th>
            <th width="100">ステータス</th>
            <th width="80">利用制限</th>
          </tr>
        </thead>

        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.id %></td>
              <td><%= link_to user.name, admin_user_path(user.id) %></td>
              <td><%= user.email %></td>
              <td>
                <% if user.is_deleted? %>
                  <font color="#a9a9a9">退会</font>
                <% else %>
                  <font color="#32cd32">有効</font>
                <% end %>
              </td>
              <td>
                <% if user.is_unpermitted? %>
                  <font color="#ff2323">利用停止</font>
                <% else %>
                  －
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </center>

  <div class="mt-2">
    <%= paginate @users %>
  </div>

</div>