<!--<h4>Public::Users#edit</h4>-->

<div class="container-fluid">
  <div class="mt-4">
    <center>
      <h4 class="mb-4">my登録情報編集</h4>

        <%= form_with model: @user, url:users_information_path, method: :patch do |f| %>
          <!--label forに同じ名前は付けられない。-->
          <!--ここでlabel forを使って関連付けることによって「氏名」や「フリガナ」をクリックすると枠が反応するようになる。ラジオボタンと同じようなシステム-->
          <!--label for(htmlの書き方）でもいいけど、railsの書き方はf.labelになる。コンパイアー(記述変換)されて最終的にはlabel forになるのでどっちでもいい-->

          <div>
          　<label for="inputName">名前</label>
          　   <%= f.text_field:name, autofocus: true, id:"inputName" %>
          </div>
          <div>
          　<label for="email">メールアドレス</label>
          　  <%= f.text_field:email, autofocus: true, id:"email" %>
          </div>


          　<%= f.submit "変更保存ボタン", class: "btn btn-primary mt-3 mb-5 btn-sm" %>

        <% end %>

    </center>
  </div>
</div>