<!--<h4>public/users#show</h4>-->

<div class="container-fluid">
  <div class="mt-4">

  <center>
    <h4>my登録情報確認</h4>

    <table border="1" style="border-collapse: collapse">
      <tr>
        <th style="font-size:12px">名前</th>
        <td width="250"><%= @user.name %></td>
      </tr>
      <tr>
        <th style="font-size:12px">メールアドレス</th>
        <td width="250"><%= @user.email %></td>
      </tr>
    </table>

    <%= link_to "編集する", users_information_edit_path, class: "btn btn-primary mt-3 mb-5 btn-sm" %></td>
  </center>

 </div>
</div>