<!--<h4>Public::Users#unsubscribe</h4>-->
<div class="container-fluid">

  <center>

    <div class="mt-5">
      <h4>本当に退会しますか？</h4>
       <p>
         退会すると、会員登録情報や<br>
         これまでの全てのデータが消えてしまします。<br>
         退会する場合は、「退会する」をクリックしてください。
       </p>
     </div>

    <div class="mt-4">
    　<%= link_to "退会しない", users_my_page_path, class: "btn btn-primary btn-sm"  %>
      <%= link_to "退会する", users_withdraw_path, method: :patch, "data-confirm" => "本当に退会しますか？", class: "btn btn-danger btn-sm ml-2"  %>
    </div>

  </center>
